/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* ~~~~~~~~~~~~~~~~ common ~~~~~~~~~~~~~~~ */

.blurred {
  filter: blur(1px);
}

.button {
  cursor: pointer;
  transition: opacity 0.3s;
}

.button:hover {
  opacity: 0.6;
}

.button[disabled] {
  opacity: 0.6;
}

.focus-shadowed {
  transition: box-shadow 0.3s;
}

.focus-shadowed:focus,
.focus-shadowed:focus-visible {
  outline: none;
}

.focus-shadowed:focus-visible {
  box-shadow: var(--primary-color) 2px 2px;
}

.hover-animated {
  position: relative;
}

.hover-animated:hover {
  opacity: 1;
}

.hover-animated::before {
  position: absolute;
  z-index: 1;
  background-color: var(--primary-color);
  block-size: 100%;
  content: "";
  inline-size: 100%;
  inset: 0;
  scale: 0 1;
  transform-origin: 0;
  transition: scale 0.5s ease-in-out;
}

.hover-animated:hover::before {
  scale: 1 1;
}

.hover-animated span {
  position: relative;
  z-index: 2;
  background-color: var(--primary-color);
  color: var(--bg-color);
  mix-blend-mode: difference;
}

/* ~~~~~~~~~~~~~~~~~ page ~~~~~~~~~~~~~~~~ */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: repeating-linear-gradient(
      to left,
      var(--gradient-primary-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--gradient-primary-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--gradient-begin-color) 0.01%,
      var(--gradient-end-color)
    );
  background-size: cover;
  color: var(--primary-color);
  font-family: var(--primary-sans-serif-family), Helvetica, Arial, sans-serif;
  min-block-size: 100dvb;
  min-inline-size: 320px;
  padding-block-start: 102px;
}

/* ~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~ */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--primary-color);
  background-color: var(--bg-color);
  font-family: var(--accent-font-family), "Courier New", Courier, monospace;
  inline-size: var(--inline-size-calc);
  margin-block-end: 100px;
  padding-block: clamp(118px, calc(5% + 99px), 134px) 25px;
}

.header__tag-name {
  font-size: clamp(3.063rem, 1.921rem + 4.923vw, 4.063rem);
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.233rem + 2.769vw, 1.438rem);
  margin-block-end: 24px;
  text-transform: uppercase;
}

/* ~~~~~~~~~~~~~~ theme-menu ~~~~~~~~~~~~~ */

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button::after {
  position: absolute;
  background-color: var(--primary-color);
  block-size: 1px;
  content: "";
  inline-size: 100%;
  inset-block-end: 0;
  inset-inline-start: 0;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.3s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  animation: menu-button 1s infinite ease-in-out;
  content: "▶";
  font-size: 0.875rem;
}

/* ~~~~~~~~~~~~~~~~~ main ~~~~~~~~~~~~~~~~ */

.main {
  inline-size: var(--inline-size-calc);
}

/* ~~~~~~~~~~~~~~~~~ card ~~~~~~~~~~~~~~~~ */

.card {
  display: flex;
  flex-direction: column;
  padding: 2px;
  background-color: var(--primary-color);
  gap: 2px;
}

.card__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: var(--bg-color);
  font-size: 1.125rem;
  font-weight: 700;
}

.card__image-wrapper {
  position: relative;
  background-color: var(--bg-color);
  block-size: clamp(371px, 100vw, 696px);
}

.card__image-watermark {
  position: absolute;
  color: var(--primary-color);
  font-family: var(--accent-font-family), "Courier New", Courier, monospace;
  inset-block-start: 11px;
  inset-inline-end: 23px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 0 -1px var(--bg-color), 1px 0 var(--bg-color),
    0 1px var(--bg-color), -1px 0 var(--bg-color);
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    /* stylelint-disable-next-line property-no-unknown */
    text-stroke: 1px var(--bg-color);
  }
}

.card__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content {
  padding: 25px;
  background-color: var(--bg-color);
}

.card__predefined-text {
  margin-block-end: 27px;
}

.card__custom-text {
  margin-block-end: 25px;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.card__icon-button {
  padding: 0;
  border: none;
  background-color: transparent;
  block-size: 38px;
  cursor: pointer;
  inline-size: 38px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 0.3s ease;

  --contour-color: var(--primary-color);
  --contour-transition: fill 0.5s;
  --core-color: transparent;
  --core-transition: fill 0.3s;
  --main-body-color: transparent;
  --main-body-transition: fill 0.05s;
  --main-body-transition-delay: 0.05s;
  --sparks-color: transparent;
}

.card__icon-button:focus-visible {
  outline-color: var(--primary-color);
}

.card__icon-button:hover {
  --contour-transition: fill 1s;
  --core-color: var(--primary-color);
  --core-transition: fill 0.03s;
  --main-body-color: var(--primary-color);
  --main-body-transition: 0.3s;
  --main-body-transition-delay: 0;
}

.like-icon {
  display: block;
  block-size: 38px;
  inline-size: 38px;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border: 2px solid var(--primary-color);
  background-color: var(--bg-color);
  font-family: var(--accent-font-family), "Courier New", Courier, monospace;
  min-block-size: 38px;
  min-inline-size: 130px;
}

/* ~~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~ */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  inline-size: 100%;
  inline-size: var(--inline-size-calc);
  padding-block: 54px 102px;
  padding-inline: 34px;
}

.footer__save-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px 14px;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  font-family: var(--accent-font-family), "Courier New", Courier, monospace;
  font-size: 0.875rem;
  gap: 8px;
  inline-size: clamp(306px, 80%, 335px);
}

.footer__save-image {
  inline-size: 28px;
}

/* ~~~~~~~~~~~~~~ keyframes ~~~~~~~~~~~~~~ */

@keyframes menu-button {
  0% {
    inset-inline-start: calc(-1rem - 4px);
  }

  25% {
    inset-inline-start: calc(-1rem - 2px);
  }

  50% {
    inset-inline-start: calc(-1rem);
  }

  75% {
    inset-inline-start: calc(-1rem - 2px);
  }

  100% {
    inset-inline-start: calc(-1rem - 4px);
  }
}
