/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --bg-color: #fff;
  --primary-color: #000;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --primary-color: #000;
    --font-weight-400: 400;
    --font-weight-700: 700;
  }
}

:root.theme-dark {
  --bg-color: #000;
  --primary-color: #00cc14;
  --font-weight-400: 465;
  --font-weight-700: 785;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --primary-color: #00cc14;
    --font-weight-400: 465;
    --font-weight-700: 785;
  }
}
