/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --primary-sans-serif-family: "Inter";
  --accent-font-family: "Press Start 2P";
  --inline-size-calc: clamp(375px, calc(30.14% + 266px), 700px);
}
