/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --primary-sans-serif-family: "Inter";
  --accent-font-family: "Press Start 2P";
  --mobile-inline-size: 375px;
  --widescreen-inline-size: 696px;
  --inline-size-calc: clamp(
    var(--mobile-inline-size),
    round(down, 30.14% + 262px, 1px),
    var(--widescreen-inline-size)
  );
}
